node_modules/
www/
.idea/
*.jks
*.keystore
upload.jks
local.properties
.DS_Store
*.log
android/app/build/
android/build/
android/.gradle/
android/captures/
android/app/release/
*.apk
*.aab
*.ap_
*.dex
